@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
}

/* fore header */
.active-header span {
	display: block;
}

.inactive-header > span {
	display: none;
}
/* for animation of sidebar  */

.active-sidebar-open {
	animation: sideBarOpenAnimation 500ms ease-in-out;
}

@keyframes sideBarOpenAnimation {
	0% {
		left: -1000px;
	}
	100% {
		left: 0px;
	}
}
.inactive-sidebar-open {
	display: none;
	animation: sidebarCloseAnimation 1s ease-in-out;
}
@keyframes sidebarCloseAnimation {
	0% {
		transform: translateX(0);
		display: block;
	}
	100% {
		transform: translateX(-100%);
		display: block;
	}
}

@media screen and (max-width: 370px) {
	.email-subscribe {
		flex-direction: column;
	}
	.email-subscribe input {
		width: 100%;
	}
	.email-subscribe button {
		width: 100% !important;
		margin-top: 10px;
		margin-left: 0px !important;
	}
	.stay-with-us {
		padding: 4px;
	}
}
